:root {
    --background-color: #FEFEFE;
    --primary-color: #FCFC30;
    --primary-text-color: #111214;
    --overlay-bg-color: rgba(0, 0, 0, 0.5);
    --gap: 1rem;
    --max-width: 1120px;
    --padding: 0 16px;
}

body,
.bb-theme-serotonina bb-layout .layout {
    background-color: var(--background-color) !important;
}

.bb-theme-serotonina bb-tag .tag span {
    max-width: 125px;
    overflow: hidden;
    text-overflow: ellipsis;
} 

.page-container {
    max-width: var(--max-width);
    margin: 0 auto;
    width: 100%;
    position: relative;
}

/* Containers de cards */
#cards-container,
#cards-container-podcast,
#cards-container-web-stories {
    display: grid;
    gap: var(--gap);
    align-items: flex-start;
}

#cards-container {
    grid-template-columns: repeat(4, 1fr);
}

#cards-container-podcast {
    grid-template-columns: repeat(2, 1fr);
}

#cards-container-web-stories {
    grid-template-columns: repeat(2, 1fr);
}

.img-error {
    width: 100px;
    height: 100px;
}

.text-error {
    max-width: 790px;
    max-height: 87px;
}

.editorias-container {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(2, 1fr);
}

.destaque {
    flex: 1 1 auto;
}

.post-result {
    flex: 9 1 auto;
}

.card-and-highlight-container {
    display: flex;
    gap: var(--gap);
    align-items: flex-start;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--overlay-bg-color);
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.overlay.active {
    visibility: visible;
    opacity: 1;
}

/* Spinner */
#spinner-component div {
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: var(--background-color);
}

#spinner-component span {
    color: var(--background-color);
}

#spinner-component svg {
    animation: bbspinner 1s linear infinite;
    transform-origin: center;
    margin: 0 auto;
}

@keyframes bbspinner {
    100% {
        transform: rotate(360deg);
    }
}

/* Media Queries */
@media (min-width: 1025px) {
    .page-container {
        padding: var(--padding);
    }

    .editorias-container {
        grid-template-columns: repeat(7, 1fr);
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .page-container {
        padding: var(--padding);
    }

    .editorias-container {
        grid-template-columns: repeat(auto-fit, minmax(146px, 1fr));
    }
}

@media (max-width: 768px) {
    .page-container {
        padding: var(--padding);
    }

    .card-and-highlight-container {
        flex-direction: row;
    }

    #cards-container-web-stories {
        flex: 3;
    }

    #destaque-da-semana {
        flex: 1;
    }

    .card-and-highlight-container {
        flex-direction: column;
    }

    #destaque-da-semana {
        order: -1;
    }

    #cards-container-web-stories {
        order: 1;
    }

    #cards-container,
    #cards-container-podcast,
    #cards-container-web-stories {
        grid-template-columns: 1fr;
    }

    .box {
        display: flex;
        flex-direction: column;
    }

    .text-error {
        max-width: 375px;
        height: auto;
    }

    .title-text-error {
        font-size: 1rem;
        line-height: 1.4;
        letter-spacing: 0;
    }

    .editorias-description {
        margin-bottom: 30px;
    }

    .editorias-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1312px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1120px;
    }
}

.group-header {
    display: block;
    height: 108px;
}

@media (min-width: 768px) {
    .w-md-286px {
        width: 286px !important;
    }
}

@media (min-width: 768px) {
    .w-md-698px {
        width: 698px !important;
    }
}

.no-gap-rigth>.elementor-container>.elementor-column>.elementor-widget-wrap {
    padding: 16px 0px 0px 16px !important;
}